__pycache__/
venv/
env/
outputs/
*.log
.python-version
datasets-br-nlp/
datasets-en-nlp/
estrutura.md
overfitting_laqda.md
contribuicao.md
metrics.md
models.md
lazy.md
escrita_dica.md
guia_escrita_tcc.md
llm_limitado.md
run_model.sh